* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background: url() no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    background: rgb(58, 180, 58);
    padding: 30px 60px;
}

.bio {
    color: gray;
}

.username {
    padding: 5px;
    color: white;
}
.location{
    color: white;
}
.datejoined {
    color: white;
}

.photo {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

.photo img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fullname {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    color: green;
}

.follow {
    display: inline-block;
    padding: 12px 50px;
    color: white;
    border-radius: 6px;
    margin-top: 16px;
    background-color: green;
}


/*.contact-btn:hover {
    background: green;
    color: green;
}*/

.card-footer {
    background: #f4f4f4;
    padding: 30px 10px;
}

.numbers {
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

.item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: gray;
}

.item span {
    display: block;
    color: #0a0d0f;
    font-size: 30px;
}

.border {
    width: 1px;
    height: 30px;
    background: #bbb;
}